## Basic Print Statements

In [1]:
a = "Hi Hello"
print(a)

Hi Hello

In [2]:
x = 10
print(x)

10

In [3]:
print("Hi Hello")

Hi Hello

In [4]:
x = 10
y = 100
print("The value of x is %d and y is %d" % (x, y))

The value of x is 10 and y is 100

In [5]:
print("123")
print("456")

123
456

In [9]:
print("123", end="$"*5)
print("456")

123$$$$$456

In [11]:
print("123", end="\n"*2)
print("456")

123

456

## List and Loop

In [23]:
# List

colors = ["Red", "Blue", "Green", "Yellow"]

In [13]:
# Print the length of the list

print(len(colors))

4

In [24]:
# Loop / Iterating through the list

for color in colors:
    print(color)

Red
Blue
Green
Yellow

## Sleep Function

In [25]:
import time

for color in colors:
    print(color)
    time.sleep(2) # Seconds

Red
Blue
Green
Yellow

## String Functions

In [22]:
# String Concatenation

name = "Anil" + " " + "Kumar"
# print(name)

# Type Casting

name = "James Bond " + str(123)
print(name)

James Bond 123

## Functions

In [19]:
def add(x, y):
    return x+y

x = 1
y = 2
result = add(x, y)

print("The Sum of %d and %d is %d" % (x,y,result))

The Sum of 1 and 2 is 3

## Dictionary

In [17]:
# Dictionary
data = {}

# Dictionary has key and value

data["today"] = "Red"
data["Yesterday"] = "Blue"
data["Tomorrow"] = "Green"

print(data)

{'today': 'Red', 'Yesterday': 'Blue', 'Tomorrow': 'Green'}

In [18]:
# JSON to Dictionary

phone = dict({"name": "Iphone", "country": "India"})

print(phone["name"])

Iphone